<div class="notebook">
    <div class="heading">
        Process name notebook
    </div>
    General infomation
        
        <div class="infomation-title__name">
            Name
            <div class="infomation-title__name-input">
                <input>
            </div>
        </div>
        <div class="infomation-title__address">
            Address
            <div class="infomation-title__address-input">
                <input>
            </div>
        </div>
    <div class="details">
        Notebook details
    </div>
    <div class="save-btn">
        Save
    </div>
</div>