body{
    background-color: #E9EDF0;
}
section{
    background-color: #E9EDF0;
}

h2{
    text-align: left;
}

h5{
    position: relative;
    left: 27%;
}

div{
    background-color: #f8f8f8;
    height: 50%;
    width: 45%;
    position: relative;
    left: 25%;
    text-align: left;
    margin: 2%;
    padding: 1%;
}

input {
    height: 50px;
    width: 100%;
    border: solid;
    border-top-color: #f8f8f8;
    border-left-color: #f8f8f8;
    border-right-color: #f8f8f8;
    border-bottom-color: #000000;
    text-align: left;
    outline: none;
}
input{
    background-color: #f8f8f8;
    text-align: left;
    outline: none;
}

input:focus {
    outline: none;
}

input:hover{
    outline: none;
}

button{
    height: 40px;
    width: 120px;
    color: #f8f8f8;
    background-color: #1a2848;
    position: relative;
    left: 62%;
    margin: 2%;
    border-radius: 5px;
    text-align: center;
    
}


@media (max-width: 768px) {
    .mat-card-actions {
      text-align: center; /* Định vị các nút ở giữa trên màn hình nhỏ */
    }
  }