section{
    background-color: #f8f8f8;
}

h3{
    margin-top: -1%;
    margin-bottom: 4%;
    margin-left: 1%;
}

div{
    background-color: #E9EDF0;
    position: relative;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 3%;
    padding: 1%;
}

input{
    background-color: #f8f8f8;
    text-align: left;
    outline: none;
}

input:focus {
    outline: none;
}

input:hover{
    outline: none;
}

ul{
    height: 50px;
    width: 94%;
    position: relative;
    left: 7%;
    background-color: #E9EDF0;
    text-align: left;
}
button{
    height: 40px;
    width: 120px;
    color: #f8f8f8;
    background-color: #1a2848;
    position: relative;
    margin: 2%;
    border-radius: 5px;
    text-align: center;
    
}



.highlight{
    background-color: #f8f8f8;
}