<div class="container">
    <div class="nb">
    <div class="nb__title">
        <b>Process name notebook</b>
    </div>
    <b>General infomation</b>
    <div class="nb__general-info">
        
        <div class="nb__general-info__field">                
            <div class="nb__general-info__field__name">
            Name    
            </div>
            <div class="nb__general-info__field__content">
            </div>
        </div>
        <div class="nb__general-info__field">                
            <div class="nb__general-info__field__name">
            Address    
            </div>
            <div class="nb__general-info__field__content">
            </div>
        </div>
    </div>
    <b>Notebook details</b>
    </div>
</div>
